h1 {
  font-size: 1.6em;
/*  font-weight:normal;*/
}

h2 {
  font-size: 1.4em;
  font-weight:normal;
}

h3 {
  font-size: 1.2em;
  font-weight:normal;
}

p {
/*  font-size: 1.2em; */
  font-family: sans-serif;
}
/*
li {
  font-size: 1.1em;
}

ul {
  font-size: 1.1em;
}

ol {
  font-size: 1.1em;
}
*/

a:link {
  color: #F35D22;
  text-decoration: none;
}

a:visited {
  color: #F35D22;
  text-decoration: none;
}

a:hover {
  color: #f79d7a;
  text-decoration: none;
}

a:active {
  color: #f79d7a;
  text-decoration: none;
}

pre code a:link {
    color: #F35D22;
    text-decoration-color: none;
}

pre code a:hover {
    color: #f79d7a;
    text-decoration-color: none;
}

pre code a:active {
    color: #f79d7a;
    text-decoration-color: none;
}
/*
.navbar-brand {
  font-size: 1.4em;
}
*/
.navbar-nav {
  font-size: 1.2em;
}


.navbar-nav > li{
  padding-left:2px;
  padding-right:2px;
/*  font-size: 1.1em; does not make navbar items bigger */
}

.navbar.bg-light {
  -webkit-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.5);
  box-shadow: 0 4px 6px -6px rgba(0,0,0,0.5);
  border: 0px solid rgba(0,0,0,0.1);
}

pre {
/*  font-size: 1.2em; */
  border-radius: 10px;
}

p code {
  border-radius: 20px;
}

.navbar-light .navbar-nav .nav-item>.nav-link:hover {
  background: rgba(238,112,0, 0.1)
}

#toc>.nav a.nav-link:hover,
#toc>.nav a.nav-link:focus {
  background-color:rgba(238,112,0, 0.1);
  color:#000
}

.page-header {
    border-bottom: 0px solid #ddd;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
}

.btn-primary {
  color: #F35D22;
  background-color: white;
  border: 1px solid #F35D22;
  padding: 10px 18px;
  border-radius: 10px;
}

.btn-primary:hover {
  color: white;
  background-color: #F35D22;
  transition: 0.9s;
  border-color: #F35D22;
}

.btn-primary:active {
  background-image: radial-gradient(circle,
    #F35D22 10%, #f79d7a 11%);
}

.btn-primary:active:hover, .btn-primary:active:focus {
  color: white;
  background-color: #F35D22;
  border-color: #F35D22;
  transition: 0.6s;
}

/* funktioniert nicht */
#pkgdown-sidebar h2 {
  font-size: 1.1em !important;
  margin-top: 1em !important;
}

#pkgdown-sidebar div {
  font-size: 0.5em !important;
  margin-top: 1em !important;
}

footer p {
/*  font-size: 1.1em; */
}

*::selection {
  text-shadow: none !important;
  background-color: rgba(238,112,0, 0.35) !important;
}
